body {
	font-family: SansSerif;
}

.imageParagraph {
	background-color: #E0DFE0;
}

.card {
	background-color: #F5F5F5;
	margin-top: 1.5rem;
	font-size: small;
}

.jumbotron, .navbar, .card {
	border-radius: 7px;
}
